.ribbon {
  background-color: #a00;
  color: #fff;
  display: block;
  position: absolute;
  margin-top: 5px;
  width: 45%;
  padding: 3px 5px;
  text-align: left;
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 50%, 100% 100%, 0% 100%);
}
